.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px; gutter size offset */
  width: 90%;
  background-color: blueviolet;
  margin: 20px auto;
}
.my-masonry-grid_column {
  /*padding-left: 30px;  gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 1000px;
}

.my-masonry-grid_column img {
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  object-fit: contain;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.masonry-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.image-item {
  object-fit: contain;
  border-radius: 10px;
}

/*----------------------------------------------------------*/
.pic {
  position: relative;
  display: inline-block;
}

img:hover{
  opacity: 0.3;
  background: rgba(0, 0, 0, 0.5);
}

.pic:hover .delete {
	display: block;
  
}

.delete {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}